
body {
  background-color: #cd353b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    max-width: 100%;
    /* overflow-x: hidden; */

}
.App {
  padding: 20px;
  width: 100%;
     justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;

}
 .tips{
  margin-top: -20px;
  font-size: 22px;
  margin-left: 530px;
}
.subtitle {
  border-left: 6px solid #fff;
  padding-left: 10px;
  color: #eee;
  font-size: 30px;
  margin-top: 180px;
}
.grid-item {
  cursor: pointer;
  width: 330px;
  border-radius: 4px;
  padding: 20px 20px 20px 10px;
  margin-bottom: 50px;
  overflow: auto;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  vertical-align: middle;
  font-size: 18px;
  line-height: 26px;
}


.grid-item .avatar {
  width: 60px;
  height: 60px;
  background-color: #eee;
  display: block;
  border-radius: 50%;
  border: 2px solid #fff;
}
.grid-item .userinfo {
  float: left;
  height: 100%;
}
.grid-item .content {
  color: #333;
  padding-left: 8rem;
  /* text-indent: 2em; */
}
.grid-item .nickname {
  color: #999;
  font-size: 15px;
  text-align: right;
  padding-top: 6px;
}

.grid-item .time {
  color: #aaa;
  font-size: 14px;
  text-align: right;
  padding-top: 2px;
}

.load-more {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  margin-left: 200px;
}

#hot-comment-list {
  margin-bottom: 40px;
}



.say {
  margin-top: 140px;
  margin-left: 20px;
  color: white;
  /* max-width: 115rem; */
  width: 90%;
  line-height: 50px;
  font-weight: 500;
  font-size: 23px;
  word-wrap: break-word;

}

.say.thanks{
  margin-top: 0px;
  margin-bottom: 100px;
}

.comment-card{
  /* width: 90%; */
  /* margin-left: 5rem; */

}

